@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}


@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}
