body {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
  color: #ACADB0;
  font-family: 'Hind', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.header {
  height: 100vh;
  background: url("../img/1920x1080/01.jpg") center no-repeat;
  background-size: cover; }
  .header-content {
    height: calc(100vh - 97px);
    border-top: 1px solid rgba(186, 176, 176, 0.8); }
    .header-content-wrap {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .header-content-logo {
      margin-top: 28px; }
      .header-content-logo span {
        font-size: 30px;
        color: #828590; }
    .header-content-text {
      height: 100%;
      text-align: left;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .header-content-text h1 {
        color: #fff;
        font-size: 70px;
        font-weight: 700;
        margin: 0;
        text-transform: uppercase; }
      .header-content-text p {
        color: #fff;
        margin-top: 45px;
        margin-bottom: 45px; }
      .header-content-text a {
        padding: 15px 36px;
        text-decoration: none;
        color: #fff;
        border: 2px solid #fff;
        text-transform: uppercase;
        margin: 0; }
  .header-topbar {
    height: 97px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header-topbar-logo__wrap {
      width: 50%; }
    .header-topbar-nav__wrap {
      width: 50%; }
    .header-topbar__logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%; }
      .header-topbar__logo span {
        font-size: 30px;
        color: #828590; }
    .header-topbar__nav {
      height: 100%; }
      .header-topbar__nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%; }
        .header-topbar__nav ul li a {
          color: #fff;
          font-weight: 600;
          padding: 20px;
          font-size: 13px;
          text-decoration: none;
          text-transform: uppercase; }

.coding {
  margin-top: 105px;
  margin-bottom: 120px;
  text-align: center; }
  .coding-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .coding-item {
    text-align: left; }
    .coding-item h3 {
      color: #505669;
      font-size: 25px; }

.choose {
  background-color: #fafafa; }
  .choose-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 98px;
    padding-bottom: 117px; }
    .choose-wrap-inner1 {
      width: 60%; }
      .choose-wrap-inner1 p {
        width: 443px; }
      .choose-wrap-inner1 h3 {
        color: #505669;
        font-size: 25px; }
      .choose-wrap-inner1 button {
        border: 1px solid #505669;
        background-color: #505669;
        color: #fff;
        padding: 17px 40px;
        margin-top: 38px;
        font-weight: 700; }
    .choose-wrap-inner2 {
      width: 40%; }
      .choose-wrap-inner2__text23 {
        padding: 35px 25px;
        background-color: #fff;
        padding: 25px 30px;
        margin-top: 10px; }
        .choose-wrap-inner2__text23 h4 {
          margin: 0;
          color: #505669; }
      .choose-wrap-inner2__text1 {
        background-color: #0fc0d3;
        color: #fff;
        padding: 25px 30px; }
        .choose-wrap-inner2__text1 h4 {
          margin-bottom: 40px; }

.fa-minus {
  color: #0fc0d3; }

.products {
  margin-top: 100px;
  margin-bottom: 108px;
  text-align: left; }
  .products h2 {
    color: #505669;
    font-size: 30px; }
  .products p {
    margin-bottom: 25px; }
  .products-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .products-item {
    text-align: left; }
    .products-item h3 {
      color: #505669;
      font-size: 25px; }
      .products-item h3 span {
        color: #BFC1C7;
        font-weight: 400;
        margin-left: 30px;
        font-size: 16px; }
    .products-item a {
      text-decoration: none;
      color: #828c97;
      font-weight: 600; }

.fa-shield-alt,
.fa-medal,
.fa-flask {
  font-size: 30px; }

.price {
  background-color: #fafafa;
  padding: 100px 0; }
  .price-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .price-container__item {
      background-color: #fff;
      height: 489px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 70px 45px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .price-container__item h4 {
        font-size: 22px;
        font-weight: 700;
        color: #505669;
        margin: 0; }
        .price-container__item h4 .dollar {
          color: #ACADB0;
          font-size: 16px;
          font-weight: 400; }
      .price-container__item ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        .price-container__item ul li {
          color: #81848F;
          margin-bottom: 15px; }
      .price-container__item a {
        text-align: center;
        font-weight: 600;
        padding: 18px 0;
        vertical-align: center;
        color: #505669;
        background-color: #f3f4f5;
        display: block;
        width: 130px;
        text-decoration: none; }
    .price-container__item2 {
      height: 560px;
      margin: 0 2px;
      padding: 110px 45px; }

.grid {
  padding-bottom: 80px;
  padding-top: 80px; }
  .grid-text {
    margin-bottom: 60px; }
    .grid-text p {
      width: 516px; }
    .grid-text h3 {
      font-size: 25px;
      color: #505669; }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 55% 45%;
    height: 660px;
    grid-gap: 30px; }
    .grid-container .item {
      position: relative; }
      .grid-container .item::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        opacity: 0;
        -webkit-transition: opacity 1s ease;
        transition: opacity 1s ease; }
      .grid-container .item:hover::before {
        opacity: .5; }
    .grid-container__item1 {
      background: #000 url("../img/800x400/01.jpg") 0 0 no-repeat;
      grid-column: 1/3; }
    .grid-container__item2 {
      background: #000 url("../img/397x415/01.jpg") 0 0 no-repeat; }
    .grid-container__item3 {
      background: #000 url("../img/397x300/01.jpg") 0 0 no-repeat; }
    .grid-container__item4 {
      background: #000 url("../img/397x300/02.jpg") 0 0 no-repeat; }
    .grid-container__item5 {
      background: #000 url("../img/397x300/03.jpg") 0 0 no-repeat; }

.clients {
  border-top: 1px solid #fafafa; }
  .clients-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 100px 0; }

.services {
  background-color: #fafafa;
  padding-bottom: 100px;
  padding-top: 100px; }
  .services-text {
    margin-bottom: 60px; }
    .services-text p {
      width: 516px; }
    .services-text h3 {
      font-size: 25px;
      color: #505669; }
  .services-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .services-content__item {
      background-color: #fff;
      padding: 47px 50px;
      margin-right: 2px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin-top: 2px;
      width: 375px;
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
      cursor: pointer; }
      .services-content__item:nth-child(3n + 3) {
        margin-right: 0; }
      .services-content__item .fa-history {
        font-size: 30px; }
      .services-content__item:hover {
        background-color: #0fc0d2;
        color: #fff; }
        .services-content__item:hover h3 {
          color: #fff; }
      .services-content__item h4 {
        color: #505669;
        font-size: 22px;
        font-weight: 700; }

.country {
  padding-bottom: 115px;
  padding-top: 100px; }
  .country-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .country-items__item {
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%; }
      .country-items__item h4 {
        color: #505669;
        font-size: 22px; }
        .country-items__item h4 span {
          color: #BFC1C7;
          font-weight: 400;
          margin-left: 30px;
          font-size: 16px; }
      .country-items__item a {
        color: #82889a;
        display: block;
        text-decoration: none;
        margin-top: 15px; }
        .country-items__item a .fa-phone-alt,
        .country-items__item a .fa-envelope {
          color: #47cbdb; }
  .country .map iframe {
    width: 100%; }

/* in the end*/
